<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  backupGlobals="false"
  backupStaticAttributes="false"
  colors="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  processIsolation="false"
  stopOnFailure="false"
  bootstrap="test/bootstrap.php"
>
  <testsuites>
    <testsuite name="Handlebars Test Suite">
      <file>test/HandlebarsCompiler.php</file>
      <file>test/HandlebarsData.php</file>
      <file>test/HandlebarsException.php</file>
      <file>test/HandlebarsHandler.php</file>
      <file>test/HandlebarsRuntime.php</file>
      <file>test/HandlebarsTokenizer.php</file>
    </testsuite>
  </testsuites>

  <coverage>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
    <exclude>
      <directory>./vendor</directory>
      <directory>./test</directory>
      <file>src/helpers.php</file>
    </exclude>
  </coverage>
</phpunit>
